{plugins,[ling_builder]}.

{deps, [
	{cowboy, ".*",
		{git, "git://github.com/extend/cowboy.git", "master"}},
	{bullet, ".*",
		{git, "git://github.com/extend/bullet.git", "master"}},
	{mimetypes, ".*",
		{git, "git@github.com:spawngrid/mimetypes.git", "master"}},	
	{erlydtl,".*",
		{git,"git://github.com/evanmiller/erlydtl.git","master"}},
	{ling_builder,".*",
		{git,"git://github.com/maximk/ling_builder.git","master"}}

]}.

{ling_builder_opts,[
	{build_host,"build.erlangonxen.org:8080"},
  {username,"***"},
  {password,"***"},
	{import,"priv/*/*"},
	{import_lib,crypto}
]}.
